body {
    margin: 0;
}

.CodeMirror {
    border: 1px solid #e5e7eb;
    height: 100%;
    font-family: monospace;
    font-size: 0.9rem;
    line-height: 1.5;
}

#result-table-container th,
#result-table-container td {
}

#query-history-list li a {
    cursor: pointer;
} 